.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100vh - 96px);
    width: 100%;
    bottom: 0;
    background-color: white;

    img {
        height: 60px;
    }
}